[
	{mosaic_rabbitmq, [
		{identifier, "0000000000000000000000000000000000000000"},
		{group, "8cd74b5e4ecd322fd7bbfc762ed6cf7d601eede8"},
		{management_enabled, true}]},
	
	{mosaic_component, [
		{callbacks, mosaic_rabbitmq_callbacks},
		{harness_input_descriptor, undefined},
		{harness_output_descriptor, undefined}]},
	
	{rabbit, [
		{tcp_listeners, [{undefined, undefined}]},
		{collect_statistics, fine},
		{print_progress, false},
		{management_enabled, true},
		{default_user, <<"guest">>},
		{default_pass, <<"guest">>},
		{default_vhost, <<"/">>},
		{default_user_is_admin, true},
		{default_permissions, [<<".*">>, <<".*">>, <<".*">>]}]},
	
	{rabbit_management_agent, [
		{force_fine_statistics, true}]},
	
	{rabbit_mochiweb, [
		{port, undefined}]},
	
	{rabbit_management, [
		{http_log_dir, none}]},
	
	{mnesia, [
		{schema_location, opt_disc},
		{dir, "./data/mnesia"},
		{core_dir, "./data/mnesia"}]},
	
	{kernel, [
		{error_logger, tty}]},
	
	{sasl, [
		{sasl_error_logger, tty},
		{errlog_type, error},
		{utc_log, true}]},
	
	{os_mon, [
		{start_cpu_sup, true},
		{start_memsup, true},
		{start_disksup, true},
		{start_os_sup, true}]}
].
